API_BASE_URL=
AUTH_API_URL=
DISPUTE_API_URL=
ESCROW_API_URL=
NOTIFICATION_API_URL=
WALLET_API_URL=
DATABASE_URL=
JWT_EXPIRE=
JWT_SECRET=
KAFKA_BROKER=
MONGO_URI=
MONNIFY_API_KEY=
MONNIFY_BASE_URL=
MONNIFY_CONTRACT_CODE=
MONNIFY_SECRET_KEY=
NOTIFICATION_API_URL=
PORT=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
COMPANY_ACCOUNT_NUMBER=
COMPANY_BANK_CODE=
COMPANY_ACCOUNT_NAME=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYMENT_PROVIDER=
ANTHROPIC_API_KEY=
WHATSAPP_ACCESS_TOKEN=
PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=